/* Start Global Rules */
body {
  font-family: "Cairo", sans-serif;
  color: white;
}

body {
  font-family: "Cairo", sans-serif;
  color: white;
  background-color:#22272e;
}

/* End Global Rules */
